
body{
    width: 100%;
    height: 98vh;
    background-color: rgb(234, 238, 238);
    display: flex;
}
.insidecontent{
    width: 80%;
    height: 100%;
    /* border: solid green 5px; */
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 50px;
}
.insidecontent h3{
    margin-left: 150px;
    /* margin-top: 10px; */

}
.inputsection{
    display: flex;
    flex-direction: column;
}
.inputsection .desc input{
    height: 100px;
}

.inputsection .photo input{
    border: none
}
.futsal input{
    /* border: solid red 3px; */
    margin-top: 30px;
    margin-left: 150px;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: solid gray 2px;
    color: black;

}
.edit button{
    margin-left: 150px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    font-size: 24px;
    color: whitesmoke;
    background-color: #54B4D3;
    height: 40px;
    width: 25vh;
    display: flex;
    flex-wrap: wrap;
}

.delete button{
    margin-left: 400px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: whitesmoke;
    background-color: #DC4C64;
    height: 40px;
    width: 25vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: -39px;
    align-items: center;
    justify-content: center;
    /* border: solid green 5px; */

}

.back a{
    width: 10%;
    margin-left: -250px;
    color: black;
}