/* sidebarcss from herer */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

body{
    width: 100%;
    height: 98vh;
    background-color: rgb(234, 238, 238);
    display: flex;
  text-transform: capitalize;
    font-family: "Nunito", sans-serif;

}
  .sidebarcontent{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    margin-left: 20px;
    /* border: solid green ; */
    padding: 10px;
  }
  .logout{
    margin-top: 200px;
    color: red;
  }
  .sidebarcontent .logout i:hover{
    color: darkred;
  }
  a i{
    color: black;
  }
  
  
  .sidebarcontent i{
    padding-top: 40px;
    cursor: pointer;
  }
  
  .sidebarcontent i:hover{
    color: gray;
   
  }
  
  /* sidebar css upto here */

  .innercontent{
    width: 80%;
    margin-top: 20px;
    /*border: solid green 5px;*/
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
    background-color: white;


  }

.indiviudal-futsal{
  display: flex;
  /* border: 2px solid red; */
  border-radius: 10px;
  width: 30%;
  margin-bottom: 3%;
  padding: 3%;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 8px, rgba(0, 0, 0, 0.22) 0px 5px 2px;
}
.indiviudal-futsal:hover{
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
}
.indiviudal-futsal img{
  width: 100%;
  height: auto;
}
.indiviudal-futsal h2{
  font-size: 2rem;
  margin: 3% 0;
}
.indiviudal-futsal p{
  font-size: 1rem;
}
.indiviudal-futsal a {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 5%;
  margin-top: 3%;
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}
.indiviudal-futsal a:hover{
  background-color: var(--white);
  color: var(--secondary);
  transition: 0.2s ease-in-out;
  font-weight: 800;
  border: 2px solid var(--secondary);

}