<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" >

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book Snooker</title>
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />

  <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"  th:href="@{~/css/afterlogin.css}">
  <link rel="stylesheet"  th:href="@{~/css/booksnooker.css}">

</head>
<body>
<!-- header section starts  -->

<header>
  <!-- logo and name on left side -->

  <a href="Homepage.html" class="logo"
  ><img
          th:src="@{/images/logoIconS.jpg}"
          alt="snooker"
          srcset=""
  />Snooker</a>

  <div id="menu-bar" class="fas fa-bars"></div>
  <div class="searchbar">
    <input type="search" name="search" id="search" />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <!-- navigation bar starts -->
  <nav class="navbar">
    <a href="#home">home</a>
    <a th:href="@{~/user/booked}">Snooker</a>
    <a href="#contact-us">services</a>
    <!-- <a href="#gallery">gallery</a> -->


    <a th:href="@{~/user/contactus}">contact</a>
    <a th:href="@{~/user/profile/}+${userdata.id}">
      <span th:text="${userdata.getName()}" style="color: black;margin-left: 5px; margin-top: -15px;" ></span>
    </a>
  </nav>

  <!-- navigation bar completed -->
</header>

<!-- header section ends -->
<!-- contact us  -->

<div class="container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <!--            <div class="swiper-slide"><img th:src="@{~/images/f1.jpg}" alt=""></div>-->
      <div class="swiper-slide"><img th:src="'data:image/png;base64,'+${clickedsnooker.imageBase64}" alt="">
      </div>
      <div class="swiper-slide"><img th:src="'data:image/png;base64,'+${clickedsnooker.image1Base64}" alt="image/"></div>
      <div class="swiper-slide"><img th:src="'data:image/png;base64,'+${clickedsnooker.image2Base64}" alt="image/"></div>

    </div>
<!--     <div class="swiper-pagination"></div>-->


<!--    <div class="swiper-button-prev"></div>-->
<!--    <div class="swiper-button-next"></div>-->


  </div>

</div>




<section id="contact-us">
  <span class="big-circle"></span>

   <div class="form">
    <div class="contact-info">
      <h3 class="heading">Find us here</h3>
      <iframe
              src="https://www.google.com/maps/embed?Townplanning Swimming pool, P8J8+XH4, Kathmandu 44600"
      ></iframe>

      <div class="info">

        <div class="information">
          <i class="fas fa-map-marker-alt"></i>
          <p th:text="${clickedsnooker.getSnookerlocation()}"></p>
        </div>
        <div class="information">
          <i class="fas fa-phone-alt"></i>
          <p th:text="${clickedsnooker.getSnookercontact()}"></p>
        </div>
        <div class="information">
          <i class="fa-sharp fa-solid fa-rupee-sign"></i>
          <p th:text="${clickedsnooker.getSnookerprice()}"></p>
        </div>
      </div>

      <div class="social-media">
        <p>Connect with us :</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="contact-form">
      <form th:method="post" th:action="@{/ball/sbooking}" th:object="${savebooking}">

      <!-- circles on form(right side) -->
      <span class="circle one"></span>
      <span class="circle two"></span>
        <h3 class="heading">Book <span>Here</span></h3>
<!--        <input type="text"  hidden="hidden" name="bookId" th:value="${savebooking.bookId}">-->

        <div class="input-container">
          <input type="text" name="name" class="input" placeholder="Name">
        </div>

        <div class="input-container">
          <input
                  type="date"
                  name="date"
                  class="input"
                  th:field="*{date}">
        </div>

        <input type="text"  hidden="hidden" name="id" th:value="${userdata.id}">
        <input type="text"  hidden="hidden" name="email" th:value="${userdata.email}">
        <input type="text"  hidden="hidden" name="fid" th:value="${snookers.fid}">



        <div class="input-container">
          <div class="input">

            <label for="from" >From: </label>
            <select name="starting" id="from" th:field="*{starting}">
              <option value="6:00-7:00">6:00-7:00</option>
              <option value="7:00-8:00">7:00-8:00</option>
              <option value="8:00-9:00">8:00-9:00</option>
              <option value="9:00-10:00">9:00-10:00</option>
              <option value="10:00-11:00">10:00-11:00</option>
              <option value="11:00-12:00">11:00-12:00</option>
              <option value="12:00-13:00">12:00-13:00</option>
              <option value="13:00-14:00">13:00-14:00</option>
              <option value="14:00-15:00">14:00-15:00</option>
              <option value="15:00-16:00">15:00-16:00</option>
              <option value="16:00-17:00">16:00-17:00</option>
              <option value="17:00-18:00">17:00-18:00</option>
              <option value="18:00-19:00">18:00-19:00</option>
              <option value="19:00-20:00">19:00-20:00</option>
            </select>
          </div>


        </div>


        <button type="submit" value="Book Now" class="send" >booknow</button>
      </form>

    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
    autoplay:{
      delay: 5000,
      disableOnInteraction: false
    },
    loop: true,

    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },

    // navigation: {
    //     nextEl: '.swiper-button-next',
    //     prevEl: '.swiper-button-prev',
    // },

  });
</script>
<!-- contact us section completed -->
</body>
<div class="footer">
  <div class="inner-footer">

    <!--  for company name and description -->
    <div class="footer-items">
      <h1>Website Name</h1>
      <p>Description of any Snooker along with their bookings.</p>
    </div>

    <!--  for quick links  -->
    <div class="footer-items">
      <h3>Quick Links</h3>
      <div class="border1"></div> <!--for the underline -->
      <ul>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Contact</li></a>
        <a href="#"><li>About</li></a>
      </ul>
    </div>

    <!--  for some other links -->
    <div class="footer-items">
      <h3>Services</h3>
      <div class="border1"></div>  <!--for the underline -->
      <ul>
        <a href="#"><li>Quick Booking</li></a>
        <a href="#"><li>Quick Booking</li></a>
        <a href="#"><li>Quick Booking</li></a>
        <a href="#"><li>Quick Booking</li></a>
      </ul>
    </div>

    <!--  for contact us info -->
    <div class="footer-items">
      <h3>Contact us</h3>
      <div class="border1"></div>
      <ul>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i>Dillibazar, KTM</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>snookermania@gmail.com</li>
      </ul>

      <!--   for social links -->
      <div class="social-media">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google-plus-square"></i></a>
      </div>
    </div>
  </div>
</div>



<!--  <script th:src="@{/js/script.js}"></script>-->

</html>
