<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org/" >

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" th:href="@{~/images/swim.png}" type="image/x-icon">
  <title>Landing Page</title>

  <!-- font owesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- liniking css -->
  <link rel="stylesheet" th:href="@{~/css/afterlogin.css}">
  <link rel="stylesheet"  th:href="@{~/css/style.css}">
</head>

<body>

<!-- header section starts  -->
<header>
  <!-- logo and name on left side -->

  <a href="#" class="logo"><img th:src="@{/images/swim.png}" alt="Snooker House" srcset="">Snooker House </a>

  <div id="menu-bar" class="fas fa-bars"></div>

  <!-- navigation bar starts -->
  <nav class="navbar">
    <a href="#home">home</a>
    <a href="#about">about</a>
    <a href="#review">services</a>
    <a href="#foot">contact</a>
    <a th:href="@{~/user/login}">Login</a>
  </nav>

  <!-- navigation bar completed -->

</header>

<!-- header section ends -->

<!-- home section starts -->
<section class="home" id="home">
  <div class="content">
    <h3>Come and Enjoy</h3>
    <p>Discover the origins of the pool. The pool floor meets the walls. Hello summer, hello you. Embrace self-discipline. Gets more attention than swimming. To show off your swim. Just to have some fun. You can use these to inspire your team.</p>
    <a href="#about" class="btn">know more</a>
  </div>
  <div class="image">
    <img th:src="@{/images/first.png}" alt="Snooker">
  </div>
</section>
<!-- home section comes to end -->

<!-- about section start -->
<section class="about" id="about">
  <h1 class="heading">About <span>us</span></h1>
  <div class="whole">
    <div class="img-container">
      <img src="https://wallpaperaccess.com/full/203287.jpg"
           alt="Snooker">
    </div>
    <div class="description">
      <h3>What is Snooker House?</h3>
      <P>Snooker House is an online platform that allows   the perfect place to cool off on a hot summer day. The crystal-clear water is refreshing and invigorating, and the sun-drenched deck is the perfect place to relax. Come and swim with us today!.
        .</P>
      <P>Looking for a place to relax and have fun? Look no further than our pool. With a poolside bar and grill, you can enjoy a refreshing drink and a delicious meal while you swim. So come on down and let us make your summer unforgettable.</P>
    </div>
  </div>
</section>
<!-- about section ends -->
<section class="review" id="review">

  <h1 class="heading"> What we <span>provide?</span> </h1>

  <div class="box-container">

    <div class="box">
      <img th:src="@{/images/swim2.jpg}" alt="">
      <h3></h3>

      <p> Booking a snooker  has never been easier. with our booking
        service! Our platform allows you to quickly and easily book a snooker
       at your preferred location, date, and time with just a few clicks.
        Our real-time booking system ensures that you get the most updated and accurate
        information on  availability, so you can easily find and book  that suits your
        schedule and needs.
      </p>
    </div>
    <div class="box">
      <img th:src="@{/images/swim3.jpg}" alt="">
      <h3></h3>

      <p> Looking for a snooker  to swim with your
        friends or team? Our pool availability service
        has got you covered! With just a few clicks, you can
        easily search and find the best snooker  near you
        based on your preferred location, date, and time. Our real-time pool
        availability feature ensures that you get the most updated and accurate information on
        available pools, allowing you to easily book the pool that suits your schedule and needs.</p>
    </div>
    <div class="box">
      <img th:src="@{/images/contactus.jpg}" alt="">
      <h3></h3>

      <p> We understand that you may have questions or feedback about our
        platform and services, which is why we have a dedicated contact us service to help you out.
        Our customer support team is always ready to assist you with any questions or
        concerns you may have, and we encourage you to reach out to us if you need any assistance
        or have any feedback about our services.
      </p>
    </div>

  </div>

</section>

<!-- review section ends -->

<!-- snookerss -->
<section id="snookers">
  <h1>Here are the currently available snookers</h1>

  <div class="all-snooker">
    <div class="indiviudal-snooker">
      <img th:src="@{/images/swim4.jpg}" alt="">
      <h2>Green Garden</h2>
      <p>Green Garden pool is a popular snooker facility located in Rato Pul, Kathmandu, Nepal. It is a modern and well-equipped sports venue that offers indoor snooker , aswell as friendly games, training, tournaments.</p>
    </div>
    <div class="indiviudal-snooker">
      <img th:src="@{/images/swim 6.jpg}" alt="">
      <h2>Nature</h2>
      <p>Nature pool is a popular snooker facility located in Gyaneshwor, Kathmandu, Nepal. It is a modern  venue that provides state-of-the-art indoor snooker , making it an ideal place for players of all levels to train, play games, and compete in tournaments.</p>
    </div>
    <div class="indiviudal-snooker">
      <img th:src="@{/images/swim5.jpg}" alt="">
      <h2>Phoniex</h2>
      <p>Discover the origins of the pool. The pool floor meets the walls. Hello summer, hello you. Embrace self-discipline. Gets more attention than swimming. To show off your swim. Just to have some fun. You can use these to inspire your team.</p>
    </div>
  </div>
</section>



<!-- footer -->

<div class="footer" id="foot">
  <div class="inner-footer">

    <!--  for company name and description -->
    <div class="footer-items">
      <h1>Website Name</h1>
      <p>Snooker House</p>
    </div>

    <!--  for quick links  -->
    <div class="footer-items">
      <h3>Quick Links</h3>
      <div class="border1"></div> <!--for the underline -->
      <ul>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Contact</li></a>
        <a href="#"><li>About</li></a>
      </ul>
    </div>

    <!--  for some other links -->
    <div class="footer-items">
      <h3>Services</h3>
      <div class="border1"></div>  <!--for the underline -->
      <ul>
        <a href="#"><li>Quick Booking</li></a>
        <a href="#"><li>Quick Booking</li></a>
        <a href="#"><li>Quick Booking</li></a>
        <a href="#"><li>Quick Booking</li></a>
      </ul>
    </div>

    <!--  for contact us info -->
    <div class="footer-items">
      <h3>Contact us</h3>
      <div class="border1"></div>
      <ul>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i>Lolang, KTM</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>9800000000</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>Snookerhouse@gmail.com</li>
      </ul>

      <!--   for social links -->
      <div class="social-media">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google-plus-square"></i></a>
      </div>
    </div>
  </div>



  <!-- scroll top button  -->
  <a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

  <!-- custom js file link  -->
  <script th:src="@{/js/script.js}"></script>

</body>

</html>