<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{~/css/login.css}">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="col-left">
            <div class="login-text">
                <!-- <h2>Logo</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget eros dapibus, ultricies tellus vitae, consectetur tortor. Etiam rutrum placerat
                </p> -->
                <a class="btn" th:href="@{~/user/index}">Goto Landing Page</a>
            </div>
        </div>


        <div class="col-right">
            <div class="login-form">
                <h2>Login</h2>
                <form method="post" th:action="@{/login}" >
                    <p>
                        <input type="email" placeholder="Email" name="email" required>
                    </p>
                    <p>
                        <input type="password" placeholder="Password" name="password" required>
                    </p>
                    <p>
                        <input class="btn" type="submit" value="Sign In" />
                    </p>
                    <p>
                        <a th:href="@{~/user/forgotpassword}">Forget password?</a>
                        <a th:href="@{~/user/create}">Create an account.</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>