<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org/" >

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" th:href="@{~/css/viewreview.css}">

  <title></title>
</head>

<body>
<!-- sidebar content from here -->
<div class="sidebarcontent">
  <h3>Admin Panel</h3>

  <a th:href="@{~/admin/dashboard}"> <i class="fas fa-tachometer-alt me-2">Dashboard</i></a>
  <a th:href="@{~/ball/addsnooker}"><i class="fas fa-project-diagram me-2">Snooker</i></a>
  <a th:href="@{~/admin/view}"><i class="fas fa-chart-line me-2">View Snooker</i> </a>
  <a th:href="@{~/admin/contact}"><i class="fas fa-chart-line me-2">Snooker Review</i></a>
  <a th:href="@{~/admin/report}"><i class="fas fa-paperclip me-2">Reports</i></a>
  <!-- <i class="fas fa-shopping-cart me-2">Store Mng</i>
  <i class="fas fa-gift me-2">Products</i>
  <i class="fas fa-comment-dots me-2">Chat</i>
  <i class="fas fa-map-marker-alt me-2">Outlet</i> -->
  <div class="logout">
    <i class="fas fa-power-off me-2">Logout</i>
  </div>
</div>
<!-- sidebar content upto here -->
<div class="innercontent">

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Subject</th>
      <th scope="col">Message</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact:${contact}">
      <td th:text="${contact.contactId}"></td>
      <td th:text="${contact.contactname}"></td>
      <td th:text="${contact.contactemail}"></td>
      <td th:text="${contact.contactsubject}"></td>
      <td th:text="${contact.contactmessage}"></td>
      <td> <a th:href="@{~/user/del/}+${contact.contactId}"><button type="button" class="btn btn-danger">Delete Review</button></a></td>


    </tr>
    </tbody>
  </table>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>